body{
	
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	text-align: center;
	display: inline-block;
	position: relative;

}
header{
	display: inline-block;
	width: 100%;
}
.body{
	width: 90%;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	display: inline-block;
	position: relative;
	text-align: left;
	top: 70px;
}

.container {
    width: 100%;
}
h2, h3 {
margin-top: 0px;
}
h3{
	color: #00456e;
}
h2{
	color: #ff6600;
}
.col-md-3{
}
.centeralign{
	text-align: center;
}
.col-5-img{
	width: 100%;
	text-align: center;
	margin: auto;
	position: relative;
	display: inline-block;
}
.container{
	margin-bottom: 40px;
}
._subsections{
	height: 250px;
	margin-top: 15px;
	padding: 5px;
	overflow: hidden;
	font-size: 13px
}
._subsections:hover{
	background-color:#f2f2f2
}
.subsection{
	background-color: #ff6600;
	color:#fff;
	width: auto;
	display:inline-block;
	padding: 3px;
	font-size: 11px;
	margin-top:  5px;
}
a{
	color: #666666;
}
a:hover{
	text-decoration: none;
	color: #666666;
}
a:active{
	background-color: white;
	color: black;
}
._small{
	font-size: 11px;
	text-transform: lowercase;
	color: #005689;
	margin-top: 5px;
}
.navbar{
	background-color: #005689;
	height: auto;
	z-index: 1000;
	display: inline-block;
	width: 100%;

}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:active {
    color: #fff;
}
.navbar-nav {
    float: none;
    margin: auto;
    text-align: center;
    width: 80%
}
.nav>li {
    position: relative;
    display: block;
    background-color: #005689;
}
#title{
	width: 100%;
	background-color: #ccc;
	margin-bottom: 20px;
	padding:10px;
}
@media only screen and (max-width: 600px) {
/* define mobile specific styles come here */
	._subsection_img{
		width: 50%;
		float: left;
		margin: 2px;
	}

	._subsection_img > img{
		width: 100%
	}

	._subsection_title{
		width: 40%;
		float: left;
		margin: 6px;
	}
	._subsections {
    height: 200px;
}
}